.button {
    width: 100%;
    max-width: 90px;
    height: 100%;
    background-color: #fff;
    color: #2874f0;
    border: 0;
    cursor: pointer;
    font-weight: 600;
    outline: none;
    &.primary {
        background-color: #2874f0;
        color: #fff;
    }
    &.disabled{
        background-color: #91bbff;
    }
}
