.product {
    .product_detail_wrapper {
        background-color: #fff;
        padding: 20px;
        display: flex;
        .product_detail_left {
            width: 100%;
            padding: 50px;
            border: 1px solid #111;
            .product_detail_image {
                display: flex;
                justify-content: center;
                align-items: center;
                img {
                    max-width: 100%;
                }
            }
        }
        .product_detail_right {
            padding: 50px;
            width: 100%;
            .product_name {
                font-size: 30px;
                font-weight: 600;
                display: -webkit-box;
                -webkit-box-orient: vertical;
                -webkit-line-clamp: 2;
                overflow: hidden;
                text-overflow: ellipsis;
            }
            .price {
                font-size: 27px;
                margin: 20px 0;
            }
            .rating {
                font-size: 20px;
                font-weight: 500;
                padding-bottom: 20px;
            }
            .description {
                font-size: 20px;
                color: rgb(97, 97, 97);
            }
        }
    }
}
