.products{
    padding: 50px 0;
    .title{
        padding-bottom: 50px;
    }
    .product_listing{
        display: flex;
        flex-wrap: wrap;
        grid-gap: 20px;
        a{
            text-decoration: none;
        }
    }
}