.footer {
    background-color: #172337;
    color: #fff;
    font-size: 14px;
    .inner_title {
        color: #bababa;
        margin-bottom: 10px;
        text-transform: uppercase;
    }
    .footer_top {
        border-bottom: 1px solid rgb(207, 207, 207);
        font-size: 12px;
        .footer_inner_wrapper {
            padding: 30px 0;
            ul {
                list-style: none;
                padding: 0;
                li {
                    padding: 5px 0;
                }
            }
        }
    }
    .footer_bottom {
        .footer_bottom_inner_wrapper {
            font-weight: 500;
            padding: 10px 0;
            .row{
                align-items: center;
            }
            .bottom_link{
                display: flex;
                align-items: center;
                font-weight: 500;
                span{
                    margin-right: 5px !important;
                }
            }
        }
    }
}
